:root {
    --background: #fffffe;
    --headline: #2b2c34;
    --paragraph: #2b2c34;
    --button: #6246ea;
    --button-text: #fffff3;
    --stroke: #2b2c34;
    --secondary: #d1d1e9;
    --tertiarty: #e45858;

    --color-contrast: #000;
    --color-contrast-1: #2b2b2b;
    --color-contrast-2: #ccc;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0f0e17;
        --headline: #fffffe;
        --paragraph: #a7a9be;
        --button: #6246ea;
        --button-text: #fffffe;
        --stroke: black;
        --secondary: black;
        --tertiarty: #e45858;

        --color-contrast: #fff;
        --color-contrast-1: #2b2b2b;
        --color-contrast-2: #666;
    }
}